In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data/electricity_time_series_data_with_forecast.csv")

In [5]:
data.head(100)

,Timestamp,Building 74 - kWh Total Electricity (kWh),Electricity Consumption Forecast
0,2014-01-01 00:30:00,22.8125,NaN
1,2014-01-01 00:45:00,24.6650,NaN
2,2014-01-01 01:00:00,24.1725,NaN
3,2014-01-01 01:15:00,24.9500,NaN
4,2014-01-01 01:30:00,23.6175,NaN
5,2014-01-01 01:45:00,23.7425,NaN
6,2014-01-01 02:00:00,24.7725,NaN
7,2014-01-01 02:15:00,23.4475,NaN
8,2014-01-01 02:30:00,24.4975,NaN
9,2014-01-01 02:45:00,24.4175,NaN
10,2014-01-01 03:00:00,24.0475,NaN
11,2014-01-01 03:15:00,23.0850,NaN
12,2014-01-01 03:30:00,23.7750,NaN
13,2014-01-01 03:45:00,24.9625,NaN
14,2014-01-01 04:00:00,24.4325,NaN
15,2014-01-01 04:15:00,24.9675,NaN
16,2014-01-01 04:30:00,22.8350,NaN
17,2014-01-01 04:45:00,23.2975,NaN
18,2014-01-01 05:00:00,23.6625,NaN
19,2014-01-01 05:15:00,24.4225,NaN
20,2014-01-01 05:30:00,21.9100,NaN
21,2014-01-01 05:45:00,24.2850,NaN
22,2014-01-01 06:00:00,25.4300,NaN
23,2014-01-01 06:15:00,28.4850,NaN
24,2014-01-01 06:30:00,29.5975,NaN
25,2014-01-01 06:45:00,28.3825,NaN
26,2014-01-01 07:00:00,26.8075,NaN
27,2014-01-01 07:15:00,27.9100,NaN
28,2014-01-01 07:30:00,24.0575,NaN
29,2014-01-01 07:45:00,27.7300,NaN
...,...,...,...
70,2014-01-01 18:00:00,26.2300,NaN
71,2014-01-01 18:15:00,25.6450,NaN
72,2014-01-01 18:30:00,25.2950,NaN
73,2014-01-01 18:45:00,24.7225,NaN
74,2014-01-01 19:00:00,24.1800,NaN
75,2014-01-01 19:15:00,22.6425,NaN
76,2014-01-01 19:30:00,22.8850,NaN
77,2014-01-01 19:45:00,25.5725,NaN
78,2014-01-01 20:00:00,26.6625,NaN
79,2014-01-01 20:15:00,24.8875,NaN
80,2014-01-01 20:30:00,24.3025,NaN
81,2014-01-01 20:45:00,25.1050,NaN
82,2014-01-01 21:00:00,24.3775,NaN
83,2014-01-01 21:15:00,25.2400,NaN
84,2014-01-01 21:30:00,25.2600,NaN
85,2014-01-01 21:45:00,26.0900,NaN
86,2014-01-01 22:00:00,24.9700,NaN
87,2014-01-01 22:15:00,22.9475,NaN
88,2014-01-01 22:30:00,23.4125,NaN
89,2014-01-01 22:45:00,24.5125,NaN
90,2014-01-01 23:00:00,23.8200,NaN
91,2014-01-01 23:15:00,25.6825,NaN
92,2014-01-01 23:30:00,23.0175,NaN
93,2014-01-01 23:45:00,24.4200,NaN
94,2014-01-02 00:00:00,23.2550,NaN
95,2014-01-02 00:15:00,22.4550,NaN
96,2014-01-02 00:30:00,23.3625,NaN
97,2014-01-02 00:45:00,24.9425,NaN
98,2014-01-02 01:00:00,24.4400,NaN
99,2014-01-02 01:15:00,23.2275,NaN

In [6]:
data.fillna(-1000, inplace = True)

,Timestamp,Building 74 - kWh Total Electricity (kWh),Electricity Consumption Forecast
0,2014-01-01 00:30:00,22.8125,-1000.000000
1,2014-01-01 00:45:00,24.6650,-1000.000000
2,2014-01-01 01:00:00,24.1725,-1000.000000
3,2014-01-01 01:15:00,24.9500,-1000.000000
4,2014-01-01 01:30:00,23.6175,-1000.000000
5,2014-01-01 01:45:00,23.7425,-1000.000000
6,2014-01-01 02:00:00,24.7725,-1000.000000
7,2014-01-01 02:15:00,23.4475,-1000.000000
8,2014-01-01 02:30:00,24.4975,-1000.000000
9,2014-01-01 02:45:00,24.4175,-1000.000000
10,2014-01-01 03:00:00,24.0475,-1000.000000
11,2014-01-01 03:15:00,23.0850,-1000.000000
12,2014-01-01 03:30:00,23.7750,-1000.000000
13,2014-01-01 03:45:00,24.9625,-1000.000000
14,2014-01-01 04:00:00,24.4325,-1000.000000
15,2014-01-01 04:15:00,24.9675,-1000.000000
16,2014-01-01 04:30:00,22.8350,-1000.000000
17,2014-01-01 04:45:00,23.2975,-1000.000000
18,2014-01-01 05:00:00,23.6625,-1000.000000
19,2014-01-01 05:15:00,24.4225,-1000.000000
20,2014-01-01 05:30:00,21.9100,-1000.000000
21,2014-01-01 05:45:00,24.2850,-1000.000000
22,2014-01-01 06:00:00,25.4300,-1000.000000
23,2014-01-01 06:15:00,28.4850,-1000.000000
24,2014-01-01 06:30:00,29.5975,-1000.000000
25,2014-01-01 06:45:00,28.3825,-1000.000000
26,2014-01-01 07:00:00,26.8075,-1000.000000
27,2014-01-01 07:15:00,27.9100,-1000.000000
28,2014-01-01 07:30:00,24.0575,-1000.000000
29,2014-01-01 07:45:00,27.7300,-1000.000000
...,...,...,...
170,2014-01-02 19:00:00,28.6175,32.895343
171,2014-01-02 19:15:00,26.9625,32.376921
172,2014-01-02 19:30:00,25.0800,31.930856
173,2014-01-02 19:45:00,27.8450,32.976364
174,2014-01-02 20:00:00,27.6475,33.890122
175,2014-01-02 20:15:00,24.1700,32.585403
176,2014-01-02 20:30:00,26.9075,33.426369
177,2014-01-02 20:45:00,29.3550,34.520149
178,2014-01-02 21:00:00,26.9300,33.177087
179,2014-01-02 21:15:00,24.5625,33.464669
180,2014-01-02 21:30:00,25.5725,33.543998
181,2014-01-02 21:45:00,26.0375,33.915869
182,2014-01-02 22:00:00,26.2675,33.901025
183,2014-01-02 22:15:00,24.6475,32.743822
184,2014-01-02 22:30:00,26.1100,32.702809
185,2014-01-02 22:45:00,24.8375,34.218669
186,2014-01-02 23:00:00,22.7725,33.645156
187,2014-01-02 23:15:00,23.9475,34.359081
188,2014-01-02 23:30:00,23.8775,33.746091
189,2014-01-02 23:45:00,24.2450,35.212392
190,2014-01-03 00:00:00,22.9550,34.477001
191,2014-01-03 00:15:00,24.6600,35.062586
192,2014-01-03 00:30:00,23.1775,36.001081
193,2014-01-03 00:45:00,22.4700,36.064392
194,2014-01-03 01:00:00,23.1050,35.546750
195,2014-01-03 01:15:00,21.5550,35.041674
196,2014-01-03 01:30:00,23.9050,34.609521
197,2014-01-03 01:45:00,25.2675,35.669002
198,2014-01-03 02:00:00,24.4050,36.595811
199,2014-01-03 02:15:00,23.1575,35.305824